<ion-header>
  <ion-toolbar>
    <ion-title>Change Date</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="changedateForm" (ngSubmit)="editanddimiss(job)">
    <ion-card class="available-job-card">
      <ion-label>
        <ion-card class="errand-detail-card">
          <p>Errand Name: {{job?.errandname}}</p>
          <p>Errand Date: {{job?.date | date:'d MMM yyyy'}}</p>
          <p>Time: {{job?.time | date:'shortTime'}} to {{job?.endtime | date:'shortTime' }}</p>
        </ion-card>
      </ion-label>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Reporting Date:</ion-label>
            <ion-datetime formControlName="date" [min]="formdate"></ion-datetime>
            <ion-button>
              <ion-icon name="calendar"></ion-icon>
            </ion-button>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.date">
            <div class="error-message"
              *ngIf="changedateForm.get('date').hasError(validation.type) && (changedateForm.get('date').dirty || changedateForm.get('date').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label>Reporting Time:</ion-label>
            <ion-datetime displayFormat="hh:mm A" formControlName="time" [pickerOptions]="pickerOpt"></ion-datetime>
            <ion-button>
              <ion-icon name="time"></ion-icon>
            </ion-button>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.time">
            <div class="error-message"
              *ngIf="changedateForm.get('time').hasError(validation.type) && (changedateForm.get('time').dirty || changedateForm.get('time').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>Ending Time:</ion-label>
            <ion-datetime displayFormat="hh:mm A" formControlName="endtime" [pickerOptions]="pickerOpt"></ion-datetime>
            <ion-button>
              <ion-icon name="time"></ion-icon>
            </ion-button>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.endtime">
            <div class="error-message"
              *ngIf="changedateForm.get('endtime').hasError(validation.type) && (changedateForm.get('endtime').dirty || changedateForm.get('endtime').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-button expand="block" color="tertiary" type="submit">Submit</ion-button>
  </form>
</ion-content>