.profile-item {
  text-align: center;
  margin: auto !important;
}

.profile-item-info {
  text-align: left;
  margin: auto !important;
  font-size: 1.1pc;
}

.profile-picture {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 3px;
  border-radius: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  width: 230px;
  height: 230px;
  overflow: hidden;
}

.profile-picture img {
  width: 128px;
  border-radius: 100%;
}

.profile-name {
  padding-top: 20px;
  font-size: x-large !important;
  font-weight: bold !important;
  margin: auto !important;
  text-transform: capitalize;
}