<ion-header collapse="condense">
      <ion-toolbar color="primary">
          <ion-title size="large">Account</ion-title>
      </ion-toolbar>
  </ion-header> 

<ion-content [fullscreen]="true" class="homepage">
  <ion-card class="available-job-card">
  <div>
    <ion-item>	
      <p>Hello {{userEmail}}</p>
    </ion-item>	
    <ion-button	expand="block" color="secondary" (click)=profile()>Profile</ion-button>	
    <ion-button	expand="block" color="secondary" (click)=logout()>Logout</ion-button>	
    
  </div>
</ion-card>

</ion-content>