<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ user?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="homepage">
  <ion-card class="available-job-card" style="border-radius: 10px; margin: 1.5pc;">
    <div>
      <ion-item class="profile-item">
        <ion-grid>
          <ion-row>
            <div style="margin: auto;">
              <img [src]="user?.image" class="profile-picture big-profile-picture">
            </div>
          </ion-row>
          <ion-row>
            <h2 class="profile-name dark">{{user?.name}}</h2>
          </ion-row>
          <ion-row>
            <h3 class="profile-item"><div>{{address}}</div></h3>
          </ion-row>
        </ion-grid>
      </ion-item>


      <ion-item class="profile-item-info">
        <ion-grid style="--ion-grid-padding: 1pc; --ion-grid-column-padding: 1pc; margin: auto;">
          <ion-row>
            <ion-col style="text-align: right;">
              Gender:
            </ion-col>
            <ion-col>
              {{user?.gender}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="text-align: right;">
              Birthday:
            </ion-col>
            <ion-col>
              {{user?.birthday | date: 'MMM d, yyyy'}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="text-align: right;">
              Contact Number:
            </ion-col>
            <ion-col>
              {{user?.phoneno}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="text-align: right;">
              Email:
            </ion-col>
            <ion-col>
              {{user?.email}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
    <div style="display: flex; ">
      <div style="width: 50%">
        <ion-button [disabled]="reviewCount < 1"style="margin: 1.2pc; font-size: 1.1pc;" size="large" expand="block" [routerLink]="['/review', targetEmail]">Reviews</ion-button>
      </div>
      <div style="width: 50%">
        <ion-button [disabled]="count < 1" style="margin: 1.2pc; font-size: 1.1pc;" size="large" expand="block" [routerLink]="['/post/', targetEmail]">Post</ion-button>
      </div>
    </div>
  </ion-card>
</ion-content>