<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button menuId="first">
        <ion-icon class="menu-button" name="menu"></ion-icon>
        <ion-badge class="notifications-badge">
          <ion-icon name="alert"></ion-icon>
        </ion-badge>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Applicant Notifications</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="C">
  <ion-card class="available-job-card" *ngFor="let errandsapplied of jobsApplied">
    <ion-card-header>
      <ion-item lines="none">
          <ion-icon size="large" name="briefcase" class="center-right"></ion-icon>
          <ion-label>
            Errand Name: {{errandsapplied.errandname}}
          </ion-label>
          <ion-col class="align-end">
            <ion-button (click)="toApplicant(errandsapplied?.id)">Applicant
              <ion-icon slot="start" name="notifications"></ion-icon>
            </ion-button>
          </ion-col>      
      </ion-item>
    </ion-card-header>
    <ion-card class="applicant-detail-card">
      <ion-row>
        <p>You have a new applicant for {{errandsapplied?.errandname}}</p>
      </ion-row>
    </ion-card>
  </ion-card>
  <div class="center" *ngIf="jobsApplied?.length ===0">
    <ion-label color="danger">You have no applicants today</ion-label>
  </div>
</ion-content>