.center {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

 .center-right {
   margin-right: 10px;
}

.align-end {
    margin: 0;
    text-align: right;
}
