<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Update Profile Picture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addPhotoForm">
    <ion-item *ngIf="default">
      <img [src]="user_with_image?.image" [hidden]="!user_with_image?.image" class="center">
    </ion-item>
    <ion-item *ngIf="!default">
      <img [src]="photo" [hidden]="!photo" class="center">
    </ion-item>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" color="secondary" id="camera-button" (click)="takePhoto()">
          Select a Photo
          <ion-icon slot="start" name="camera"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="success" id="update-button" (click)="add()">
          Upload Photo
          <ion-icon slot="start" name="cloud-upload"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>