<ion-header>
  <ion-toolbar>
    <ion-title>PayNow</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-label class="title">
            Payment to
          </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-label>
            Name: {{user.name}}
          </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-label>
            Phone Number: {{user.phoneno}}
          </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-button expand="block" fill="outline" size="large" style="margin:1pc;" (click)="confirm()">Confirm</ion-button>
</ion-content>
