<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding center text-center>
  <ion-title>ConserV</ion-title>

  <form [formGroup]="loginForm">
    <ion-list>
      <ion-item lines="none"  style="overflow: visible;">
        <ion-label class="google-label" position="floating">
          E-Mail
        </ion-label>
        <ion-input class="google-input" type="email" formControlName="email"></ion-input>
      </ion-item>
  
      <ion-item lines="none"  style="overflow: visible;">
        <ion-label class="google-label" position="floating">
          Password
        </ion-label>
        <ion-input class="google-input" type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>

  </form>

  <div class="validation-errors">
    <ng-container>
      <div class="error-message" *ngIf="!loginError == ''">
        <ion-icon name="information-circle-outline"></ion-icon> {{ loginError }}
      </div>
    </ng-container>
  </div>

  <ion-button style="margin:1pc" expand="block" type="submit" (click)=login()>
  Login
  </ion-button>


</ion-content>
