<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button menuId="first">
        <ion-icon class="menu-button" name="menu"></ion-icon>
        <ion-badge class="notifications-badge">
          <ion-icon name="alert"></ion-icon>
        </ion-badge> 
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Create Errand Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="C">

  <form [formGroup]="makerequestForm" (ngSubmit)="onCreateRequest()">
    <ion-card class="available-job-card">
      <ion-card-header>
        <ion-card-title>Generic</ion-card-title>
      </ion-card-header>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Errand Name:</ion-label>
            <ion-input formControlName="errandname"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.errandname">
            <div class="error-message"
              *ngIf="makerequestForm.get('errandname').hasError(validation.type) && (makerequestForm.get('errandname').dirty || makerequestForm.get('errandname').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Errand Category:</ion-label>
            <ion-select formControlName="category" #Bycategory [(ngModel)]="Bycategory.value"
              (ngModelChange)="onChangeCategory(Bycategory.value)">
              <ion-select-option *ngFor="let option of categories" [value]="option">
                {{option}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.category">
            <div class="error-message"
              *ngIf="makerequestForm.get('category').hasError(validation.type) && (makerequestForm.get('category').dirty || makerequestForm.get('category').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let prices of errandprice">
        <ion-col size="12">
          <ion-item>
            <ion-label class="disabled">Base Price:</ion-label>
            <ion-input class="input-disabled" disabled="true" value="{{prices.price | currency}}">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="available-job-card">
      <ion-card-header>
        <ion-card-title>Details</ion-card-title>
      </ion-card-header>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Errand Description:</ion-label>
            <ion-textarea formControlName="description" maxlength="100" rows="2">
            </ion-textarea>
            <p>{{100 - makerequestForm.value.description.length}} characters left</p>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.description">
            <div class="error-message"
              *ngIf="makerequestForm.get('description').hasError(validation.type) && (makerequestForm.get('description').dirty || makerequestForm.get('description').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Reporting Date:</ion-label>
            <ion-datetime formControlName="date" [min]="date"></ion-datetime>
            <ion-button>
              <ion-icon name="calendar"></ion-icon>
            </ion-button>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.date">
            <div class="error-message"
              *ngIf="makerequestForm.get('date').hasError(validation.type) && (makerequestForm.get('date').dirty || makerequestForm.get('date').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label>Reporting Time:</ion-label>
            <ion-datetime displayFormat="hh:mm A" formControlName="time" [pickerOptions]="pickerOpt" [min]="min_time"
              [max]="max_time" (ngModelChange)="onReportTimeChange()"></ion-datetime>
            <ion-button>
              <ion-icon name="time"></ion-icon>
            </ion-button>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.time">
            <div class="error-message"
              *ngIf="makerequestForm.get('time').hasError(validation.type) && (makerequestForm.get('time').dirty || makerequestForm.get('time').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label> Ending Time:</ion-label>
            <ion-datetime displayFormat="hh:mm A" formControlName="endtime" [pickerOptions]="pickerOpt" [min]="makerequestForm.value.time"
              [max]="max_time" [(ngModel)]="ending_time"></ion-datetime>
            <ion-button>
              <ion-icon name="time"></ion-icon>
            </ion-button>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.endtime">
            <div class="error-message"
              *ngIf="makerequestForm.get('endtime').hasError(validation.type) && (makerequestForm.get('endtime').dirty || makerequestForm.get('endtime').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
            <div class="error-message"
              *ngIf="!makerequestForm.value.time">
              <ion-icon name="information-circle-outline"></ion-icon> You have to select a reporting time first
            </div>
          </ng-container>
          
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-button expand="block" color="tertiary" type="submit">Submit</ion-button>
  </form>

</ion-content>