ion-card {
    border: 1px solid black;
    margin: 15px;
}

ion-card-title, ion-datetime{
    font-weight: bold;
    color: blue;
}


ion-item, ion-button {
    margin: 10px;
}
.errors {
    border-bottom: 1px solid red;
}