<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Errand Notifications</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menuId="second">
        <ion-icon class="menu-button" name="menu"></ion-icon>
        <ion-badge class="notifications-badge">
          {{jobsRejected?.length + jobsAccepted?.length}}
        </ion-badge> 
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ER">
  <ion-card class="available-job-card" *ngIf="jobsAccepted?.length !==0 || jobsRejected?.length !==0">
    <ion-list>
      <ion-item *ngFor="let item of jobsRejected">
        <ion-row>
          <ion-col size-md="12" size-sm>
            <ion-card-header>
              <ion-row>
                <ion-thumbnail text-wrap>
                  <ion-icon size="large" class="center-right" name="briefcase" color="medium"></ion-icon>
                </ion-thumbnail>
                <ion-card-title>{{item?.errandname}}</ion-card-title>
              </ion-row>
            </ion-card-header>
          </ion-col>
          <ion-card-content>
            <div *ngFor="let details of item.applicant">
              <div *ngIf="details.applicationstatus==='Not Selected'">
                <ion-row>
                  <p>Client Name: {{item?.client}}</p>
                </ion-row>
                <ion-row>
                  <p>Errand Date: {{item?.date | date: 'd MMM yyyy'}}</p>
                </ion-row>
                  <p>Application Status: {{details.applicationstatus}} </p>
                <ion-row>
                  <p>Reason: {{details.reason}}</p>
                </ion-row>
                <ion-row>
                  <p>Reason Description: {{details.description}}</p>
                  <p></p>
                </ion-row>
              </div>
            </div>
          </ion-card-content>
        </ion-row>

      </ion-item>

      <ion-item *ngFor="let item of jobsAccepted">
        <ion-row>
          <ion-col size="12">
            <ion-card-header>
              <ion-row>
                <ion-thumbnail text-wrap>
                  <ion-icon size="large" class="center-right" name="briefcase" color="medium"></ion-icon>
                </ion-thumbnail>
                <ion-card-title>{{item?.errandname}}</ion-card-title>
              </ion-row>
            </ion-card-header>
          </ion-col>
          <ion-card-content>
            <div *ngFor="let details of item.applicant">
              <div *ngIf="details.applicationstatus==='Accepted'">
                <ion-row>
                  <p>Client Name: {{item?.client}}</p>
                </ion-row>
                  <p>Application Status: {{details.applicationstatus}} </p>
                <ion-row>
                  <p>Reporting Time: {{item?.time | date:'shortTime'}}</p>
                </ion-row>
                <ion-row>
                  <p>Reporting Date: {{item?.date | date: 'd MMM yyyy'}}</p>
                </ion-row>
              </div>
            </div>
          </ion-card-content>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-card>
  <div class="center" *ngIf="jobsAccepted?.length ===0 && jobsRejected?.length ===0">
    <ion-label color="danger">You have no notifications today</ion-label>
  </div>
</ion-content>