<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Post Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="homepage">
  <h1 class="transparent-stylebackground" style="text-align: center;">Leave a review for {{ targetEmail }}</h1>
  <h5 class="transparent-stylebackground">
    <ion-label style="padding-left: 10px;">Ratings:</ion-label>
  </h5>

  <ion-select
    style="margin-left: 4%; width:40%; color: black; border: 1px solid black; background-color: white; border-radius: 10px;"
    [(ngModel)]="data.starReview">
    <ion-select-option default>0</ion-select-option>
    <ion-select-option>1</ion-select-option>
    <ion-select-option>2</ion-select-option>
    <ion-select-option>3</ion-select-option>
    <ion-select-option>4</ion-select-option>
    <ion-select-option>5</ion-select-option>
  </ion-select>
  <br />

  <h5 class="transparent-stylebackground">
    <ion-label style="padding-left: 10px;">Comments:</ion-label>
  </h5>
  <ion-textarea
    style=" margin-left: 4%; width:92%; color: black; border: 1px solid black; background-color: white; border-radius: 10px;"
    [(ngModel)]="data.comment"></ion-textarea>
  <br />
  
  <ion-button style="margin: 1.2pc; font-size: 1.1pc;" size="large" expand="block" (click)="postReview()">Post
  </ion-button>
</ion-content>