<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="homepage">
  <h1 style="text-align: center;">Reviews of {{ targetEmail }}</h1>
  <ion-list class="transparent-stylebackground">
    <ion-item *ngFor="let review of allReviews">
      <ion-grid>
          <ion-row>
            <ion-col>
              From :
            </ion-col>
            <ion-col>
              {{ review.from }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Review of User :
            </ion-col>
            <ion-col>
              {{ review.comment }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              
              <ion-icon *ngFor="let i of [].constructor(review.starReview)" name="star-outline"></ion-icon>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
