ion-label, .acceptbtn, .rejectbtn, .profilebtn{
    font-weight: bold;
}
.center {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-weight: bold;
  }