<ion-header>
  <ion-toolbar>
    <ion-title>Card Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form> 
      <ion-row>
        <ion-col>
          <ion-item lines="none" style="overflow: visible;">
            <ion-label class="google-label" position="floating">
              Card Type
            </ion-label>
            <select class="form-control">
              <option [value]="cardType" *ngFor="let cardType of creditCardTypes">
                {{cardType}}
              </option>
            </select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none" style="overflow: visible;">
            <ion-label class="google-label" position="floating">
              Card No
            </ion-label>
            <ion-input class="google-input" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none" style="overflow: visible;">
            <ion-label class="google-label" position="floating">
              Valid thru
            </ion-label>
            <ion-input class="google-input" type="text"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item lines="none" style="overflow: visible;">
              <ion-label class="google-label" position="floating">
                Security Code
              </ion-label>
              <ion-input class="google-input" type="password"></ion-input>
          </ion-item>
        </ion-col>
       </ion-row>
    </form>
  </ion-grid>

  <ion-button expand="block" size="medium" style="margin:1pc;" (click)="confirm()">Confirm</ion-button>

</ion-content>
