ion-label.google-label {
    background-color: white;
    font-size: 12px;
    margin-left: 10px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    position: absolute !important;
    margin-bottom: 5px !important;
    z-index: 9;
  }