<ion-header>
  <ion-toolbar>
    <ion-title>Confirm Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-label class="title">
            Personal Information
          </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-label>
            Name: {{user.name}}
          </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-label>
            Email: {{user.email}}
          </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-label>
            Phone Number: {{user.phoneno}}
          </ion-label>
      </ion-col>
    </ion-row>

    <ion-card class="available-job-card" style="border-radius: 10px; margin: 1.5pc;">
      <ion-card-header>
        <ion-card-title class="title">Payment by:</ion-card-title>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="medium" expand="block" color="primary" (click)=paynow()>PayNow</ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="medium" expand="block" color="primary" (click)=carddetails()>Card</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-grid>

</ion-content>
