
//add scrollwheel to ion-select with long list
.alert-radio-group::-webkit-scrollbar, .alert-checkbox-group::-webkit-scrollbar {
    width: 0.7em;
    display: block !important;
}

.alert-radio-group::-webkit-scrollbar-track, .alert-checkbox-group::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.alert-radio-group::-webkit-scrollbar-thumb, .alert-checkbox-group::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
//button styling {
.align-end {
    text-align: right;
}
      
//card styling
ion-card-title{
    font-weight: bold;
    color: blue;
}

.available-job-card{
    border: 2px solid black;
    margin: 15px;
    background-color: white;
    --ion-background-color: white;
}

.applicant-card{
    background-color:rgb(0, 191, 255) ; 
    color: black;
    border-radius: 15px;

}
.applicant-card ion-card-title {
    color:darkblue;

}
.applicant-child-card {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid blue;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.errand-detail-card{
    margin-bottom: 10px;
    border: 1px solid black;
    color: black;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
//background styling 
ion-content.homepage{
    --ion-background-color: linear-gradient(#ffffff, #60b5ff);
}

ion-content.ER{
    --ion-background-color: linear-gradient(#ffe2a3, #60b5ff);
}


ion-content.C{
    --ion-background-color: linear-gradient(#daffb7, #60b5ff);
}

ion-footer.segment-footer{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.transparent-stylebackground{
    background-color: transparent;
    --ion-background-color: transparent;
}

.pop-over-style {
    .popover-content {
        //width: 80% !important; - this wont work or the bottom one.
        --width: 200px !important;
        border: 1px solid black;
        top: 100;
    }
}
.notifications-badge {
    background-color: red;
    position: absolute;
    top: 6px;
    right: 6px;
    border-radius: 100%;
}

.menu-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/appointment.theme.scss";
