

ion-card {
    width: 100%;
    border-radius: 15px;
    border: 1.5px solid black;
    color: black;
    background-color: white;
    --background-hover: #d7d8da;
    margin-left: 0pc;
}
ion-card-header{
    border-bottom: 1px solid black;
    padding-bottom: 0;
    position: relative;
}
.center-right {
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%) translateX(30%);
    font-size:30px;

}

ion-list {
    margin-top: 20px;
}

.center {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.filters{
    border: 2px solid black; 
    border-radius: 5px; 
    --ion-background-color: white;
    --background-hover: #f4f5f8;
}